﻿<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $.getJSON("https://api.coinmarketcap.com/v1/ticker/?convert=NZD&limit=20", function (json) {

                console.log(json[0]);
                console.log(json);

                for (i = 0; i < json.length; i++)
                {
                    $("p").append(json[i].name + " - ");
                    $("p").append(json[i].rank + " - ");
                    $("p").append("NZD$" + json[i].price_nzd + " - ");
                    $("p").append(json[i].symbol + "<br>");
                }
                
            });
        </script>
    </head>
    <body>
        <p></p>
        @RenderBody()
    </body>
</html>